.button {
  border: none;
  border-radius: calc(var(--rem) * 1.5);

  padding-top: calc(var(--rem) * 3);
  padding-bottom: calc(var(--rem) * 3);
  padding-left: calc(var(--rem) * 6);
  padding-right: calc(var(--rem) * 6);

  margin-right: calc(var(--rem) * 2);

  font-family: var(--title-font);
  font-weight: 400;
  font-size: calc(var(--rem) * 4);
  line-height: calc(var(--rem) * 5.5);

  cursor: pointer;
}

.button_primary {
  background-color: var(--color-button-primary);
  color: var(--color-font-accent);
}

.button_primary:hover {
  background-color: var(--color-button-primary-hover);
}

.button_primary:active {
  background-color: var(--color-button-primary-active);
}

.button_primary:focus {
  outline: var(--rem) solid var(--color-button-primary-focus);
}
