@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');

:root {
  --title-font: 'Rubik', sans-serif;

  --rem: 0.277777vw;
  --col: 2.5vw;
}

@media (max-width: 600px) {
  :root {
    --rem: 0.8vw;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #fff;
    --color-accent: #40f;

    --color-font-base: #0d111c;
    --color-font-accent: #fff;

    --color-button-primary: #40f;
    --color-button-primary-hover: #6933ff;
    --color-button-primary-active: #3c00e0;
    --color-button-primary-focus: #9670ff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0d111c;
    --color-accent: #40f;

    --color-font-base: #fff;
    --color-font-accent: #fff;

    --color-button-primary: #40f;
    --color-button-primary-hover: #6933ff;
    --color-button-primary-active: #3c00e0;
    --color-button-primary-focus: #9670ff;
  }
}

body {
  background-color: var(--color-background);

  overflow-x: hidden;
}
