.link {
  border-radius: calc(var(--rem) * 0.5);
  color: var(--color-button-primary);
}

.link:visited {
  color: var(--color-button-primary);
}

.link:hover {
  color: var(--color-button-primary-hover);
}

.link:active {
  color: var(--color-button-primary-active);
}

.link:focus {
  outline: var(--rem) solid var(--color-button-primary-focus);
}
